body{
    background-image: url('./images/fullDeck.jpg');
    background-repeat: repeat-x;
}
main .row{
    background: inherit;
}
.album{
    background: inherit;
}
.header{
    text-align: center;
    padding-top: 50px;
}
.img-size{
    height: 350px;
    width: 250px;
}